.start {
  background: none;
  height: 150px;
  line-height: 130px;
  width: 200px;
  text-align: center;
  border: 3px solid #3aff8c;
  padding: 5px 10px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.start:hover {
  background: rgb(9, 109, 0);
}

.top {
  margin-top: 150px;
}
