body { background: #000000; }

.image {
    padding: 10px;
    text-align: center;
}

.box {
    width: 200px;
    padding: 5px;
    background: #000000;
    text-align: center;
}

.fix {
    background: none;
    text-align: center;
    border: 3px solid #3aff8c;
    padding: 5px 10px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.fix:hover { background: rgb(9, 109, 0); }

.fixed {
    background: none;
    text-align: center;
    border: 3px solid #575757;
    padding: 5px 10px;
    color: white;
    border-radius: 15px;
}
